inoremap jj <Esc>

set clipboard-=ideaput
set clipboard+=unnamed

" active ideajoin
set ideajoin
" active vim-surround
set surround
" active vim-commentary
set commentary

" 実行
nnoremap <C-d> <Nop>
" refactoring
nnoremap <C-t> <Nop>
" Javadoc
nnoremap <C-j> <Nop>
" Multi Cursol
nnoremap <C-g> <Nop>
